/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Documento */
html,
body {
    height: 100%;
}

/* Página */
body {
    min-height: 100vh;
}

.dashboard-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

section {
    flex: 1;
    min-width: 0;
    height: 100%;
}